* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.title{
  text-align: center;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  padding:40px 0 30px 0;
  letter-spacing: 1px;
  font-size:30px;
}
.app {
  width: 90%;
  max-width: 1400px;
  padding:0 20px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.profile-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
  padding-top:20px ;
}

.profile-list {
  box-shadow: 0 0 10px 0 rgba(157, 96, 212, 0.5);
  border: solid 3px transparent;
  background-image: linear-gradient(101deg, rgba(120,228,255,0.5), rgba(255, 72, 250,0.5));
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.profile-img {
  border-radius: 50%;
  background-color:rgba(247, 245, 201, 0.6);
  width: 120px;
  height: 120px;
  display: inline-block;
  margin-bottom: 20px;
  overflow: hidden;
  text-align: center;
}

.profile-img img {
  margin-top: 10px;

}

.profile-title, .loader-title {
  margin-bottom: 15px;
}

.profile-desc {
  text-align: center;
  color: #666666;
  font-size: 15px;
}

.loader-list {
  border: 4px solid #EBEBEB;
  padding: 10px;
  text-align: center;
}
.loader-img{
  margin-bottom:20px;
  display: inline-block;
}